<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">

    <title>EPR ChatBot </title>
</head>
<body>
    <div class="chat-widget">
        <div class="chat-button" onclick="toggleChat()"><img src="../static/logo.png" alt="Chat Logo" class="chat-logo"></div>
        <div id="chatWindow" class="chat-window">
            <div class="chat-header">
                <h4>Chat with Us</h4>
                <span class="close-btn" onclick="toggleChat()">✖</span>
            </div>
            <div id="chatContent" class="chat-body"></div>
            <div class="chat-footer">
                <input type="text" id="userMessage" placeholder="Type a message..." onkeydown="checkEnter(event)" maxlength="100">
                <button onclick="sendMessage()" id="sendMessage">Send</button>
            </div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
