# Ignore Python cache and virtual environment
__pycache__/
venv/

# Ignore ChromaDB database files
chroma_db/*.sqlite3
app.log
app.log

# Ignore custom and large model directories
paraphrase-t5-custom/
custom_paraphrase_model/