fastapi
pydantic
uvicorn
redis
numpy
scikit-learn
dotenv
uvicorn
chromadb
pandas
torch
sentence_transformers
pydantic[email]
thefuzz
python-levenshtein
fuzzywuzzy
pyspellchecker
indexer
